<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eus.julenugalde.workoutlogger">

    <application
        android:allowBackup="true"
        android:icon="@drawable/workout_logger_app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/workout_logger_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.MainActivity"
            android:label="@string/main_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.ActivityTrainingSessionDetail"
            android:parentActivityName=".view.ActivityNewTrainingSession" />
        <activity
            android:name=".view.ActivityNewTrainingSession"
            android:label="@string/title_activity_new_training_session"
            android:parentActivityName=".view.MainActivity" />
        <activity
            android:name=".view.ActivityPreferences"
            android:parentActivityName=".view.MainActivity" />
        <activity
            android:name=".view.ActivityExerciseData"
            android:parentActivityName=".view.ActivityNewTrainingSession" />
        <activity
            android:name=".view.ActivityListWorkouts"
            android:label="@string/list_workouts_view"
            android:parentActivityName=".view.MainActivity" />
        <activity
            android:name=".view.ActivityDefineWorkout"
            android:label="@string/define_workout_title"
            android:parentActivityName=".view.ActivityListWorkouts" />
        <activity
            android:name=".view.ActivityDetailWorkout"
            android:parentActivityName=".view.ActivityListWorkouts" />
    </application>

</manifest>